<section id="about-wikihowqa" class="dataset-section">
  <div class="content-container">
    <h2>About WikiHowQA</h2>
    <p>The WikiHowQA dataset is derived from <a href="https://www.wikihow.com/Main-Page" target="_blank" style="color: #ffdd2fff;"><b>WikiHow</b></a>, a popular online platform that provides how-to guides on a wide range of topics. The dataset is structured to include a <b>question</b>, <b>a set of related documents</b>, and <b>a human-authored answer</b>. The questions are non-factoid, requiring comprehensive, multi-sentence answers. The related documents provide the necessary information to generate an answer.</p>
    <p>WikiHowQA is designed for researchers and presents a unique opportunity to tackle the challenges of creating comprehensive answers from multiple documents, and grounding those answers in the real-world context provided by the supporting documents.</p>
  </div>
</section>