<section id="download" class="dataset-section">
  <div class="content-container">
    <h2>Download</h2>
    <div class="download-container">
      <div class="button-container"><a href="https://huggingface.co/datasets/Lurunchik/WikiHowNFQA" target="_blank"><i class="download icon"></i> The QA dataset part</a></div>
      <p>The Document Content part is accessible after filling out one of the following forms and sending it to lurunchik@gmail.com. If you are able to send the form to authorized personnel at your university, please use the Institutional Form (preferred method). Otherwise, you can complete the Individual Form yourself. An example of a filled-out Individual Form is provided below for your reference.</p>
      <iframe src="data/2023%20WikiHowQA%20Data%20Transfer%20Agreement.pdf" width="100%" height="500px"></iframe>
    </div>
    <div class="button-container"><a href="data/2023%20WikiHowQA%20Data%20Transfer%20Agreement%20Individual.pdf" download><i class="download icon"></i> Download Individual Authorization Form</a></div>
    <div class="button-container"><a href="data/2023%20WikiHowQA%20Data%20Transfer%20Agreement%20Institutional.pdf" download><i class="download icon"></i> Download Institutional Authorization Form</a></div>
  </div>
</section>