<section id="download" class="dataset-section">
  <div class="content-container">
    <h2>Download</h2>
    <div class="download-container">
      <div class="button-container"><a href="https://huggingface.co/datasets/Lurunchik/WikiHowNFQA" target="_blank"><i class="download icon"></i> The QA dataset part</a></div>
      <p>The Document Content part is accessible after filling the following form and sending it to lurunchik@gmail.com</p>
      <iframe src="data/2023%20WikiHowQA%20Data%20Transfer%20Agreement.pdf" width="100%" height="500px"></iframe>
    </div>

    <div class="button-container"><a href="data/2023%20WikiHowQA%20Data%20Transfer%20Agreement.pdf" download><i class="download icon"></i> Download form</a></div>
  </div>
</section>