<header class="header-section" id="home">
  <div class="header-content">
    <h1>WikiHowQA</h1>
    <p>Introducing WikiHowQA, a unique collection of 'how-to' content from WikiHow, transformed into a rich dataset featuring 11,746 human-authored answers and 74,527 supporting documents. Designed for researchers, it presents a unique opportunity to tackle the challenges of creating comprehensive answers from multiple documents, and grounding those answers in the real-world context provided by the supporting documents.</p>
    <div class="button-container">
      <a href="./data/ACL_MD_NFQA_dataset.pdf" target="_blank">Paper</a>
      <a href="#download">Download</a>
    </div>
  </div>
  <div class="header-image">
    <img class="sticker" src="./data/examplemanualbg.jpg" alt="Sticker">
  </div>
</header>
